[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"
ipykernel = "*"
pygit2 = "*"
typeguard = "*"

[dev-packages]
jupyterlab = "*"
nbdime = "*"

[requires]
python_version = "3.11"
